* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

h1 {
  font-family: inherit;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
nav,
footer,
header,
section {
  display: block;
}

:focus,
:active {
  outline: none;
}

a,
a:focus,
a:active,
a:visited,
a:hover {
  outline: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 25px;
  font-size: 15px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

body {
  background-image: url("files/img/background.png");
}
._container {
  min-width: 1680px;
  padding: 90px 100px;
}

.main {
  display: flex;
  gap: 50px;
}

.first-column {
  max-width: 450px;
}

.first-column__header {
  font-weight: 600;
  font-size: 75px;
  line-height: 75px;
}

.first-column__info {
  margin: 65px 0 45px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.info__row {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.info__data {
  display: flex;
  flex-direction: column;
  width: 205px;
}

.info__data__icon {
  margin-bottom: 7px;
}

.info__data__title {
  opacity: 0.5;
}

.info__data__value {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tech {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.tech__title {
  font-size: 30px;
  font-weight: 600;
}

.tech__item__label {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
}
.tech__item__progress_bar_border {
  width: 100%;
  height: 7px;
  background: rgba(255, 255, 255, 0.276);
  border-radius: 25px;
}
.tech__item__progress_bar_value {
  height: 7px;
  background: rgb(255, 255, 255);
  border-radius: 25px;
}

#internet {
  width: 50%;
}

#media {
  width: 20%;
}

#shopping {
  width: 50%;
}

.second-column {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.article__title {
  font-size: 30px;
  opacity: 0.9;
}

.article__text {
  opacity: 0.8;
}

.third-column__img-container {
  max-width: 460px;
  height: 750px;
  background-image: url("files/img/woman.jpeg");
  background-position: 75%;
  background-size: 290%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 100px 50px;
}
.third-column_text-container {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
}
